<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.com.mapper.RoleMapper">
<!-- 
//删除角色
	public int delete(@Param("id")String id);
 -->
 <delete id="delete">
 	delete from role  where id = #{id}
 </delete>
<!-- 
//加载所有的角色
	public List<Role> selectRole();
 -->
 	<select id="selectRole" resultType="Role">
 		select * from role
 	</select>
 	<!-- 
 	//添加角色
	public int addRole(String rname,String level,String remark);
 	 -->
 	 <insert id="addRole">
 	 	 insert into role(id,rname,level,remark) value(null,#{rname},#{level},#{remark})
 	 </insert>
</mapper>